#AboutUs {
    font-family: Brushstroke;
}

#myVideo {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
}

#Home {
    pointer-events: none;
}

.LuckPic {
    max-width: 400px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}