.Mainnavbar {
    background-color: rgb(255, 255, 255);
    float: top;
    padding: 200;
    margin: 200;
    overflow: hidden;
    background-color: rgb(189, 189, 189);
}

img {
    border-radius: 20%;
}

.Title {

}

.BundleLinks {

}

/*  https://react-bootstrap.github.io/components/navbar/ */ 