#clogo {
    height: 30px;
    margin-bottom: 0.5em;
    margin-right: 1em;
}


#sticky.nav {
    position: top;
    top: 0;

}

.navbar-brand {
    font-size: 2em;
    font-family: Orbitron;
    padding-left: 15px;
    font-weight:500;
}

.collapse.navbar-collapse .active {
    /* display: block; */
}