#clogo {
    border-radius: 10%;
    margin-bottom: 15px;
}

.title {
    color: red;
    font-size: 55px;
    font-family: Orbitron;
    padding-left: 15px;
    font-weight: 900;
}

#basic-navbar-nav {
    font-family: Orbitron Black;
    font-size: large;
}

/*  https://react-bootstrap.github.io/components/navbar/ */ 